.footer-logo {
  display: inline-block;
  padding-top: 10px;
  color: #8e8e8e;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;
}

footer {
  background-color: #404040;
  padding-top: 60px;
  padding-bottom: 75px;
  font-family: 'Raleway', sans-serif;

}


.footer-icon-fasebook {
  float: left;
  background-image: url("../images/facebookfooter.png");
  background-repeat: no-repeat;
  background-color: #717171;;
  padding: 15px 15px;
  border-radius: 50px;
}


.footer-icon-twitter {
  float: left;
  background-image: url("../images/twitterfooter.png");
  background-repeat: no-repeat;
  background-color: #717171;;
  padding: 15px 15px;
  border-radius: 50px;
}


.footer-icon-google {
  float: left;
  background-image: url("../images/google-plusfooter.png");
  background-repeat: no-repeat;
  background-color: #717171;;
  padding: 15px 15px;
  border-radius: 50px;
}


.footer-blok-middle {
  float: left;
  width: 40%;
}

.footer-blok {
  float: left;
  width: 20%;
}

.footer-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: #b9b9b9;
}

::-moz-placeholder {
  color: #b9b9b9;
}

:-ms-input-placeholder {
  color: #b9b9b9;
}

:-moz-placeholder {
  color: #b9b9b9;
}

.form-input {
  float: left;
  width: 50%;
}


textarea {
  width: 100%;
  border: 1px solid #373839;
  background-color: #2a2b2c;
  color: #b9b9b9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 31px;
}