.header-button {
  text-decoration: none;
  text-align: center;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
  background-image: url("../images/sailboat.png");
  background-repeat: no-repeat;
  padding: 68px 25px 41px 25px;
  background-position: left center;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}


.header-button:hover {
  background-color: green;
  color: red;

}

